doctype html
html(lang='it')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title CV - Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Mariarosa Lo Faro
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') Chi sono
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Esperienze
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Istruzione
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interessi
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Attestati

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Mariarosa 
                        span.text-primary Lo Faro
                    .subheading.mb-5
                        | Via Virgilio 13 · 95046 Palagonia CT ·   cell. 334/9889806 · 
                        a(href='mailto: mariarosa.lofaro@gmail.com') mariarosa.lofaro@gmail.com
                    p.lead.mb-5
                        | Dopo aver maturato un'esperienza di oltre 17 anni come segretaria e data entry in una ditta privata, ho riscoperto la mia vecchia passione di un tempo: programmare pagine web.
                    .social-icons
                        a.social-icon(href='#!')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='#!')
                            i.fab.fa-github
                        a.social-icon(href='#!')
                            i.fab.fa-twitter
                        a.social-icon(href='#!')
                            i.fab.fa-facebook-f

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Esperienze

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Operatrice CATI
                            .subheading.mb-3 aprile 2022
                            p
                                | Collaboratrice parasub.ta, pressoTeleperformance KS Italia S.p.A., come operatrice CATI per interviste telefoniche
                        .flex-shrink-0
                            span.text-primary aprile 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Impiegata
                            .subheading.mb-3 in somministrazione da JobCamere Srl, presso NewCert Srl.
                            p
                                | Impiegata in somministrazione da JobCamere Srl, presso NewCert Srl..
                        .flex-shrink-0
                            span.text-primary febbraio 2022 - Marzo 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Impiegata
                            .subheading.mb-3 in somministrazione da STAFF SpA, presso Aton Informatica Srl
                            p
                                | Impiegata, in somministrazione da STAFF SpA, presso Aton Informatica Srl..
                        .flex-shrink-0
                            span.text-primary giugno 2021
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Impiegata d'ordine
                            .subheading.mb-3 part-time presso ditta Sipala Raffaele
                            p
                                | Impiegata d'ordine, part-time, presso la ditta Sipala Raffaele in Via Palermo Z.A. a Palagonia CT, con mansioni di contabile clienti e gestione magazzino con inserimento dati da gestionale.
                        .flex-shrink-0
                            span.text-primary settembre 2003 - dicembre 2021
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Apprendista Panificio
                            .subheading.mb-3 apprendista e cassiera
                            p
                                | Apprendista panificio, presso la ditta Battaglia Antonina & C. s.n.c..
                        .flex-shrink-0
                            span.text-primary agosto 1998 - luglio 2003

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Istruzione

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Istituto Tecnico Commerciale “A. Oriani” di Faenza RA
                            .subheading.mb-3 Ragioniere e Perito Commerciale
                            div Voto 48/60
                            p Anno scolastico 1995/1996
                        .flex-shrink-0
                            span.text-primary 1991 - 1996

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-angular
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.fab.fa-less
                        li.list-inline-item
                            i.fab.fa-wordpress
                        li.list-inline-item
                            i.fab.fa-gulp
                        li.list-inline-item
                            i.fab.fa-grunt
                        li.list-inline-item
                            i.fab.fa-npm
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mobile-First, Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Browser Testing & Debugging
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Functional Teams
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interessi
                    p
                        | Oltre ad essere appassionata di computer e programmazione, amo il mare e la vita all'aria aperta.
                    p.mb-0
                        | Quando sono costretta al chiuso, seguo alcune serie tv e programmi televisivi di genere fantascientifico e fantasy. Amo cucinare sia per me che per i miei amici che invito spesso a casa. Mi piace smanettare al pc ed esplorare gli ultimi progressi tecnologici nel mondo dello sviluppo web front-end e back-end. Sono appassionata di shop online.

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Attestati - Certificazioni Corsi - Stage
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-certificate.text-warning
                            | 04/04/2022: Completamento Corso "MS Excel" (durata 24ore). C/o: J.I. Forma Srl
                        li
                            span.fa-li
                                i.fas.fa-certificate.text-warning
                            | 21/12/2021: Completamento Corso "Addetto Contabilità con SAP-FI" (durata 80ore). C/o: ADHR Group
                        li
                            span.fa-li
                                i.fas.fa-certificate.text-warning
                            | 08/11/2021: Completamento Corso "Addetto Contabilità e Busta Paga" (durata 240ore). C/o: TalentForm C/o: TalentForm
                        li
                            span.fa-li
                                i.fas.fa-certificate.text-warning
                            | 30/04/2021: Completamento del corso "Addetto alla segreteria e comunicazione 4.0" (durata 220ore). C/o TalentForm
                        li
                            span.fa-li
                                i.fas.fa-certificate.text-warning
                            | 01/10/2017: Completamento del corso "Programmazione Java Android" (durata 300ore). C/o: CPU Academy
                        li
                            span.fa-li
                                i.fas.fa-certificate.text-warning
                            | Dal 10/01/2006 al 07/03/2006: Corso “Iniziamo a programmare”. C/o: Istituto Comprensivo Gaetano Ponte di Palagonia CT.
                        li
                            span.fa-li
                                i.fas.fa-certificate.text-warning
                            | 14/06/2004 - Conseguimento patente europea per il computer ECDL 
                        
                        li
                            span.fa-li
                                i.fas.fa-certificate.text-warning
                            | Dal 29/01/2004 al 22/04/2004: Corso “Lavoro con il database”. C/o: Istituto Comprensivo Gaetano Ponte di Palagonia CT.

                        li
                            span.fa-li
                                i.fas.fa-certificate.text-warning
                            | Da ottobre 1996 a luglio 1997: Corso per “Operatore informatico di gestione”. C/o: CE.FO.P. di Caltagirone CT

                        li
                            span.fa-li
                                i.fas.fa-certificate.text-warning
                            | Dal 03/07/1995 al 28/07/1995: Stage/Borsa di studio-lavoro presso la sede centrale della Banca Popolare di Faenza RA, nell’Ufficio Intermediazione Mobiliare



                            

        // Bootstrap core JS
        script(src='6. https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')