// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #181b1e;

// Override Bootstrap color system

$orange: #bd5d38;
$blue: blue;

// Override Bootstrap default state colors

$primary: $blue;
